 .usr{ 
    text-decoration-color: white;
    text-align: center;      
    background-color:goldenrod;
}
.head1{ font-size:70px;
    text-align: center;
}
.style{
    font-size: 25px;
       justify-content: center;
} 
  .liststyle input{
    float: right;
}

.btn1{
    
   background-color: blue;
   color:white ;
   width: 200px;
   height: 45px;
   -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}
.btnf{
  background-color: blue;
   color:white ;
   width: 200px;
   height: 25px;
   -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}


.liststyle{
	display:flex;
    padding:20px 20px;
    background-color: black;
    color:white;
    
    
    gap: 20px;
    
  }
  .liststyle ul{
    display:flex;
    text-decoration:none;
    list-style: none;
    list-style-type: none;
    gap: 20px;
  }
  .liststyle li a{
    
    color : white;

    
}
.buttonright{
  margin-left: 50%;
  display: flex;
}
  
.btnr {
  background-color: blue;
   color:white ;
   width: 200px;
   height: 25px;
   -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px; 
}

