 .usr{ 
    text-decoration-color: white;
    text-align: center;      
    background-color:goldenrod;
}
.head1{ font-size:70px;
    text-align: center;
}.style{
    font-size: 40px;
}

.btn1{
    background-color: blue;
}
.btn2{
    background-color: blue;
}