 .usr{ 
    text-decoration-color: white;
    text-align: center;      
    background-color:goldenrod;
}
.head1{ font-size:70px;
    text-align: center;
}.style{
    font-size: 40px;
}

.btn1{
    background-color: blue;
   color:white 
}
.btn2{
    background-color: blue;
    color:white 
}
.liststyle{
	display:flex;
    padding:20px 20px;
    background-color: black;
    color:white;
    list-style-type: none;
    text-decoration:none;
    
  gap: 20px;
  }
 