.HomeHeadingimg{
	width:20px;
	height:20px;
}
.HomeHeading{
	display: flex;
	gap: 20px;
justify-content: center;
place-items: center;
background-color: aliceblue;

}
body
{
    background-repeat: no-repeat;
	background-color: grey;
	
}
h1{
text-decoration: none;
text-align: center;
color:white;
font-size: 40px;

}
.HomeHeadingDescription li{
    text-align: center;
 
}
	

ul{
	display:flex;
	text-decoration:none;
	gap: 20px;
    list-style-type: none;
	padding:20px 20px;
	}
li{
float:left;
border-right:1px solid white;

}

li a{
   display:block;
   padding: 20px 20px; color: black;
   text-decoration: none;
   text-align: center;
}




li a:hover{
	color:red;
	background-color: black;
}
.style{
	
	float:right;
	margin-top: 20px;
}
.listbtn1{
	width:100px;
	height:45px;
	border-radius: 10px;
	background-color:chartreuse;
  }
  .listbtn2
  {
	width:100px;
    height:45px;
    border-radius: 10px;
	background-color:red;
	color:black;
  }
  .overstyle{
	
	background-color: black;
  }
.swiper {
	width: 1000px;
	height: 300px;
  }
  .swiper .swiper-slide img{
	width: 100%;
	height: 300px;
  }
  .swiper-pagination{
	opacity:1; 
	width:3rem;
	height:0.8rem;
	border-radius:0.5rem;
  }


  
  
  .liststyle{
	
	color: white;
  }

  .liststyle a{
	color: white;
	
  }
  .dropdown {
	float:right;
	
  }
  .paragraph{
float:right;
  }
  
  .simpleicon{
	width: 100%;
	display: block;
	
	padding :5px;
	
  }

  .simpleicon img , .simpleicon p, .simpleicon select{
	float: right;
  }
  
  .image{
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float:right;
  }
  .paragraph
  {
	color:black;
display:flex;
  }
  

/*style for companies.html*/

.stylebtn input{
	padding: 500px;
}
body{
	background-color:white;
}
.h1{
	justify-content: center;
	color: black;
}
.h2{
	justify-content: center;
	font-size: large;}
	.list{

	}